In [2]:
import pandas as pd
import numpy as np

In [9]:
df=pd.read_csv('https://markg110.s3-us-west-1.amazonaws.com/data/BX-Book-Ratings.csv', 
               delimiter=';', 
               encoding='latin-1', 
               header=0, 
               error_bad_lines=False)
df.head()

   User-ID        ISBN  Book-Rating
0   276725  034545104X            0
1   276726  0155061224            5
2   276727  0446520802            0
3   276729  052165615X            3
4   276729  0521795028            6

In [8]:
df.shape

(1149781, 3)

In [10]:
df['Book-Rating'].value_counts()

0     716109
8     103736
10     78610
7      76457
9      67541
5      50974
6      36924
4       8904
3       5996
2       2759
1       1770
Name: Book-Rating, dtype: int64